:root{
    --green-strong: #2d4a22;
    --light-white: #f0f2f5;
    --dark-blue:#363f5f;
    --dakr-blue-light: #969cb3;
    --red-expense: #e92929;
    --green-income: #12a454;      
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 93.75%; /*15px*/
}

body{
    background: var(--light-white);
    font-family: 'Poppins', sans-serif;
}

.sr-only{
    position: absolute;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0);
    white-space: nowrap;
    border-width: 0;
}
.container{
    width: min(90vw, 800px);
    margin: auto;
}

h2{
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);
    font-weight: normal;
}

a{
    color:#3dd705;
    text-decoration: none;
}

a:hover{
    color:#44ff00e7;
}

.button.new{
    display: inline-block;
    margin-bottom: 1.8rem;
}
header{
    background: var(--green-strong) ;
    padding: 2rem 0 10rem;
    text-align: center;
}

#logo{
    color: #fff;
    font-weight: 100;
}

#balance{
    margin-top: -8rem;
}

#balance h2{
    color: white;
    margin-top: 0;
    
}

footer{
    text-align: center;
}

.card{
    background: #fff;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    color: var(--dark-blue);
}

.card h3{
    font-weight: normal;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card p{
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
}

.card.total{
    background: #44ff00e7;
    color: #fff;
}

#data-table{
    width: 100%;
    border-spacing: 0 0.5rem;
    color: var(--dakr-blue-light);
}

table thead tr th:first-child, 
table tbody tr td:first-child{
    border-radius: 0.25rem 0 0 0.25rem;
}
table thead tr th:last-child, 
table tbody tr td:last-child{
    border-radius: 0 0.25rem  0.25rem 0;
}

table thead th{
    background: #fff;
    color: var(--dakr-blue-light);
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;
}

table tbody tr{
    opacity: 0.7;
}

table tbody tr:hover{
    opacity: 1;
}
table tbody td{
    background: #fff;
    padding: 1rem 2rem;
}
.description{
    color: var(--dark-blue);
}
.expense{
    color:var(--red-expense);
}

.income{
    color: var(--green-income);
}

footer{
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--dark-blue);
    opacity: 0.6;
}
/*responsive*/